.applayout{
    /* padding:15px;
    margin:10px; */
}

.header{
    display:flex;
    justify-content:space-between;
    align-items:center;
   
    padding:0 20px;
    border:2px solid black;
}

.logo{
    width:180px;
    height:120px;   
    flex-wrap:wrap ; 
    border-radius:5px;
}
.nav-items>ul{
    display:flex;
    font-size:20px;
    
}
.nav-items>ul>a>li{
    text-decoration:none;
    color:black;
    justify-content:space-between;
}

.nav-items>ul>li{
justify-content:space-between;
padding:20px;
list-style-type:none;
margin:10px;
}
.res-card{
    width:300px;
   
    background-color: #ebebeb;
    margin:5px;
    padding:5px;
   
  
}
.res-card:hover{
    border:1px solid black;
   cursor:pointer;
    
    border-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.restaurant-list{
    display: flex;
    flex-wrap: wrap;
   
}
.search{
justify-content: space-between;
padding:15px;
border:1px solid black;

}
.restaurant-image{
    height:120px;
    width:100%
}